.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.__btn-secondary{
    font: var(--paragraph-sm);
    text-align: center;
    color: var(--yellow-1);
    text-decoration: none;
    min-width: 20%;
    max-width: 80%;
    border: 2px solid var(--yellow-1);
    border-radius: 50px;
    padding: 20px;
}

.__nav-logo{
    width: 15%;
    border-radius: 12px;
}
@media (max-width: 576px) {
  .link-menu{
    display: none;
  }

  .__nav-logo{
    width: 30%;
  }
  
  .nav{
    margin: 2% auto;
  }
}